
.list__buttons {
    border: 0px;
    transition: 300ms;
    color: rgb(13, 96, 129);
    background-color: white;
    font-family: 'lato', sans-serif;
}

.list__buttons:hover {
    color: rgb(15, 162, 198);
}

.list__buttons:disabled {
    color: grey;
}

.list__headerButtons--flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width: 767px) {
    .list__buttonAllDone-flex {
        flex-basis: 100%;
        margin-top: 10px;
    }
}

@media(max-width: 767px) {
    .list__buttonHideAllDone-flex {
        flex-basis: 100%;
        margin: 10px;
    }
}


@media(max-width: 767px) {
    .list__headerButtons--flex {
        border-bottom: 1px solid rgba(78, 76, 76, 0.305);
    }
}



