.form__button-send {
    background-color:rgb(13, 96, 129);
    color: white;
    border: none;
    transition: 550ms;
}

.form__button-send:hover {
    background-color:  rgb(9, 134, 165);
    transform: scale(1.10);
}

.li__buttons {
    margin: 1%;
    min-width: 30px;   
    min-height: 30px;
}

.li__buttonDone {
    border: 0px;
    background-color: green;
    transition: 300ms;
}

.li__buttonDone:hover {
    background-color: rgb(7, 149, 7);
}

.li__buttonDone:active {
    background-color: rgb(4, 66, 4);
}

.li__buttonRemove {
    border: 0px;
    background-color: red;
    transition: 300ms;
}

.li__buttonRemove:hover {
    background-color: rgb(249, 98, 98);
}

.li__buttonRemove:active {
    background-color: rgb(159, 4, 4);
}

.nav__buttons {
    border: 0px;
    transition: 300ms;
    color: rgb(13, 96, 129);
    background-color: white;
    font-family: 'lato', sans-serif;

}

.nav__buttons:hover {
    color:rgb(15, 162, 198);
}

.nav__buttons:disabled {
    color:grey;
}

