.body__header {
    font-family: 'lato', sans-serif;
}

.section__header {
    font-family: 'lato', sans-serif;
    border-bottom: 2px solid;
    border-color: rgba(78, 76, 76, 0.305); 
    padding-bottom: 2%;
    padding-left: 2%;
    margin-bottom: 0%;
}