.section__header {
    font-family: 'lato', sans-serif;
    border-bottom: 2px solid;
    border-color: rgba(78, 76, 76, 0.305); 
    padding: 10px;
    margin: 0%;
};

@media(max-width: 767px) {
    .body__header {
        grid-template-columns: 1fr;
    }
}



