html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    background-color:rgba(78, 76, 76, 0.213); 
    
    margin: 0% 10% 0% 10%;
}

.body__sections {
    background-color: white;
    min-height: 50px;
    border-bottom: 10px solid rgba(78, 76, 76, 0.213);
}

.body__header {
    font-family: 'lato', sans-serif;
    padding: 20px 20px 20px 0px;
    margin: 0%;
}

