html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    max-width: 60%;
    background-color:rgba(78, 76, 76, 0.213);  
    margin: 20%;
    margin-top: 0%;
}

.body__sections {
    background-color: white;
    margin-bottom: 6px;
    min-height: 50px;
}

